.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}
.graph_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container button {
  background-color: rgb(20, 20, 20);
  color: white;
  border: 1px solid rgb(60, 60, 60);
  cursor: pointer;
  padding: 15px;
}
.confetti_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.grid_container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  white-space: pre;
}


.node {
  background-color: white;
}

.node_start {
  background-color: green; /* Change to your desired color */
}

.node_finish {
  background-color: red; /* Change to your desired color */
}

.node_wall {
  background-color: yellow; /* Change to your desired color */
}

.node_visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: yellow;
    border-radius: 100%;
  }

  50% {
    background-color: rgba(217, 17, 187, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(34, 17, 217, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 218, 69, 0.75);
  }
}


.node_shortest_path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}