.container {
  height: calc(100vh - 100px);
  padding: 10px;
}
.content {
  margin-left: 50px;
  margin-top: 100px;
  max-width: 1000px;
  margin: auto;
}
.content h1 {
  font-size: 3rem;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topRow input {
  outline: none;
  border: 1px solid rgb(50, 50, 50);
  color: white;
  background-color: rgb(15, 15, 15);
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
}

.bottomRow {
  width: calc(100%);
  border-radius: 10px;
}
.bigBox {
  background-color: rgb(15, 15, 15);
  color: white;
  outline: none;
  width: calc(100% - 20px);
  padding: 15px;
  border: 1px solid rgb(50, 50, 50);
  font-size: 16px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button_container > button {
  background-color: #b22424;
  border: none;
  color: white;
  font-weight: 500;
  float: right;
  margin-top: 10px;
  padding: 1rem 1rem;
  font-family: "Quicksand", "sans-serif";
  cursor: pointer;
  font-size: 18px;
  width: 200px;
  border-radius: 5px;
}

@media only screen and (min-width: 900px) {
  .topRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .topRow input {
    grid-row: 1/2;
  }
  .topRow input:first-child {
    grid-column: 1/2;
  }
  .topRow input:last-child {
    grid-column: 2/-1;
  }
  .content h1 {
    font-size: 3rem;
  }
}
