.container {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.hero {
  width: calc(100% - 20px);
  position: absolute;
  top: -10%;
}

.hero h1 {
  font-size: 4rem;
  color: #b22424;
  line-height: 3.5rem;
}
.hero p {
  font-size: 18px;
  margin-top: 5px;
}

.heroButton {
  background-color: transparent;
  border: 2px solid white;
  font-size: 1rem;
  padding: 1rem;
  color: white;
  cursor: pointer;
  z-index: 10000;
  transition: 0.3s ease;
  margin-top: 30px;
  backdrop-filter: blur(10px);
}

@media only screen and (min-width: 900px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
  }
  .hero h1 {
    font-size: 5rem;
  }
  .hero p {
    margin-top: 25px;
  }
}
