.container p {
  color: rgb(200, 200, 200);
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 30px;
}
.container {
  margin-top: 10px;
  padding: 15px;
}

.container li {
  color: rgb(200, 200, 200);
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 30px;
}
.container h2 {
  margin-top: 50px;
}
.container h2 {
  font-size: 32px;
}
.applications_list li {
  margin: 0px;
}
