.hero {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 45%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.hero h1 {
  font-size: 4rem;
}
.hero:nth-child(2) {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.hero p {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
.animationArea .boxArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.animationArea .boxArea li {
  position: absolute;
  display: block;
  list-style: none;
  width: 0;
  height: 0;
  border-bottom: 40px solid #c62222;
  border-left: 20px solid #c71f1f;
  border-right: 20px solid #ce1b1b;
  animation: animate 20s linear infinite;
  bottom: -150px;
}
.animationArea {
  width: 100%;
  height: 100vh;
}
.boxArea {
  z-index: -1;
}
.boxArea li:nth-child(1) {
  left: 86%;
  animation-delay: 0s;
}
.boxArea li:nth-child(2) {
  left: 12%;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.boxArea li:nth-child(3) {
  left: 70%;
  animation-delay: 5.5s;
}
.boxArea li:nth-child(4) {
  left: 42%;
  animation-delay: 0s;
  animation-duration: 15s;
}
.boxArea li:nth-child(5) {
  left: 65%;
  animation-delay: 0s;
}
.boxArea li:nth-child(6) {
  left: 23%;
  animation-delay: 3.5s;
}
.heroButton {
  background-color: transparent;
  border: 2px solid white;
  font-size: 1rem;
  padding: 1rem;
  color: white;
  cursor: pointer;
  z-index: 10000;
  transition: 1s ease;
  margin-top: 30px;
  backdrop-filter: blur(10px);
}
.heroButton:hover {
  background-color: white;
  color: black;
  transition: 1s ease;
}

@keyframes animate {
  0% {
    transform: translateY(0) scale(0) rotate(0deg);
  }
  100% {
    transform: translateY(-800px) scale(2) rotate(360deg);
    opacity: 0;
  }
}

.heroHeader {
  animation: heroAnimate 2s ease;
}
.heroPara {
  animation: heroAnimate 2s ease;
}
.heroButton {
  animation: heroAnimate 2s ease;
}
@keyframes heroAnimate {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.section2 {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  background-color: black;
  align-items: center;
}

.flex {
  display: flex;
  gap: 50px;
  margin-top: 30px;
}

.project {
  display: grid;
  border-radius: 10px;
  max-width: 600px;
  padding: 1rem;
  background-color: rgb(13, 13, 13);
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.178);
  grid-template-columns: repeat(12, 1fr);
}
.projectImg {
  grid-column: 1/7;
  grid-row: 1/2;
  width: 100%;
}
.projectInfo {
  text-align: center;
  grid-column: 7/-1;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.project button {
  background-color: rgb(199, 199, 199);
  border: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}
