.container {
  background-color: rgb(20, 20, 20);
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(50, 50, 50);
}
.container h1 {
  font-size: 20px;
}
.content {
  display: flex;
  max-width: 1000px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

select {
  background-color: rgb(46, 46, 46);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  min-width: 8rem;
  max-width: 200px;
  padding: 0.5rem 0.2rem;
}
@media only screen and (min-width: 900px) {
  .container {
    padding: 20px;
  }
  .container h1 {
    font-size: 26px;
  }
}
