.container {
  background-color: rgba(20, 20, 20, 0.5);
  backdrop-filter: blur(10px);
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(50, 50, 50);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.container h1 {
  font-size: 20px;
}
.content {
  display: flex;
  max-width: 1000px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.menuItems {
  display: flex;
  gap: 2rem;
}
.menuItems h1 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 900px) {
  .container {
    padding: 20px;
  }
  .container h1 {
    font-size: 26px;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.dino {
  width: 60px;
}
.logo h1{
  font-size: 30px;
}
.vis h1{
  font-size: 30px
}