.menuItemDivMobile {
  display: none;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(30, 30, 30);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container h1 {
  font-size: 14px;
}

.content {
  display: flex;
  max-width: 1000px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.menuItems {
  display: flex;
  gap: 2rem;
}

.menuItems h1 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  user-select: none;
  margin-left: 15px;
}

.dino {
  width: 50px;
}

.logo h1 {
  font-size: 1rem;
}

.menuHeader {
  font-size: 1rem !important;
}

.menuItemDiv {
  display: flex;
  gap: 15px;
}

@media only screen and (min-width: 900px) {
  .container {
    padding: 5px;
  }

  .container h1 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .menuItemDiv {
    display: none;
  }
  .menuItemDivMobile {
    display: block;
  }
  .mobile_icon {
    font-size: 30px;
    padding-top: 5px;
    padding-right: 15px;
    cursor: pointer;
  }
}
