.container {
  max-width: 95vw;
  overflow-x: scroll;
  font-size: 10px;
}
.code span {
  font-size: 14px;
}

@media only screen and (min-width: 900px) {
  .container {
    font-size: 16px;
  }
  .code span {
    font-size: 16px;
  }
}
