.container {
  overflow-x: scroll;
  font-size: 10px;
  width: calc(100vw + 40px);
  margin-left: -40px;
}
.code span {
  font-size: 14px;
}

@media only screen and (min-width: 900px) {
  .container {
    font-size: 16px;
    max-width: 1000px;
  }
  .code span {
    font-size: 16px;
  }
}
