.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 30, 30);
  width: calc(100% - 100px);
  padding: 50px;
}
.container p {
  text-align: center;
}
.dino {
  width: 200px;
}
