.container {
  background-color: rgb(20, 20, 20);
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(50, 50, 50);
}
.container h1 {
  font-size: 20px;
}
.content {
  max-width: 1000px;
  margin: auto;
}

@media only screen and (min-width: 900px) {
  .container {
    padding: 20px;
  }
  .container h1 {
    font-size: 26px;
  }
}
