@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

html {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0px;
}

.page-container {
  padding: 10px;
}

@media only screen and (min-width: 900px) {
  .page-container {
    padding: 20px;
  }
}
.horizontal-slider {
  height: 20px;
  background-color: rgb(50, 50, 50);
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.thumb {
  background-color: rgb(200, 200, 200);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
